{% extends "base.html" %}
{% block page_title %}{{room.name}}'s Photos{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}

<div class="container mx-auto my-10 flex flex-col ">

  <div class="my-5 w-1/6 flex">
    <a href="{% url 'rooms:add-photo' room.pk %}" class="btn-link w-full">Upload Photo</a>
  </div>

  {% for photo in room.photos.all %}
    <div class="mb-5 border border-gray-300 rounded-sm p-6 flex justify-between">
      <div class="flex items-center">
          <img src="{{photo.file.url}}" class="w-32 h-32">
          <span class="ml-4 text-xl">{{photo.caption}}</span>
      </div>
      <div class="flex flex-col w-1/5 justify-center">
          <a class="btn-link mb-5 bg-teal-500" href="{% url 'rooms:edit-photo' room.pk photo.pk %}">Edit</a>
          <a class="btn-link bg-red-600" href="{% url 'rooms:delete-photo' room.pk photo.pk %}">Delete</a>
      </div>
    </div>
  {% endfor %}    
    
  <div class="mb-2 flex justify-center">
    <div class="ml-5 py-1 px-2 text-cyan-500">
      <i class="fas fa-chevron-left"></i>
      <a href="{% url 'rooms:edit' room.pk %}">Back To Room</a>
    </div>
  </div>

</div>

{% endblock content %}