{% extends "base.html" %}
{% load static %}
{% block page_title %}All Rooms{%endblock page_title %}
{% block content %}

<div class="container mx-auto mt-20 pb-10 w-11/12">
   <div
      class="rounded-2xl bg-gray-800 w-full h-50vh mb-10 bg-cover bg-center"
      style="background-image: url({% static 'img/hero.jpg' %})"
   ></div>
    
   <div class="flex flex-wrap container">
        {% for room in rooms %}
            {% include 'components/room_card.html' with room=room %}
        {% endfor %}
   </div>

   <div class="flex items-center mx-auto justify-center container">
      {% if page_obj.has_previous %}
         <a href="?page={{page_obj.number|add:-1}}" class="text-emerald-500">
            <i class="fas fa-arrow-left fa-lg"></i>
         </a>
      {% endif %}

      <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

      {% if page_obj.has_next %}
         <a href="?page={{page_obj.number|add:1}}" class="text-emerald-500">
            <i class="fas fa-arrow-right fa-lg"></i>
         </a>
      {% endif %}
   </div>
</div>

{% endblock content %}
