@tailwind base;
@tailwind components;

.search-box {
   transition: box-shadow 0.2s linear;
}

.nav-link {
   transition: border-bottom 0.2s linear;
   @apply border-b-2 border-white h-full flex items-center;
   a {
      @apply py-6 px-5;
   }
   &:hover {
      @apply border-slate-600;
   }
}

.btn {
   @apply w-full text-center rounded-md py-3 font-light text-lg;
}

.btn-link {
   @apply w-full text-center rounded-lg py-2 font-light text-lg text-white bg-red-500;
   &:hover {
      @apply bg-red-700;
   }
}

input,
textarea,
select {
   @apply w-full rounded-md py-3 font-light text-lg text-left border border-gray-600 px-4 placeholder-gray-500;
   &:focus {
      @apply outline-none border-teal-800 border-2;
   }
}

textarea {
   resize: none;
   height: 100px;
}

select {
   height: 50px;
}

form {
   .input {
      @apply mb-3 w-full;
      &.has-error {
         input {
            @apply bg-red-200 border-red-500 border-2;
            &:focus {
               @apply border-gray-600;
            }
         }
      }
   }
}

form {
   #id_amenities, #id_facilities, #id_house_rules {
      @apply h-fit;
   }
}

@keyframes messageFadeIn {
   0% {
      opacity: 0;
      transform: translateY(-50px);
   }
   5% {
      opacity: 1;
      transform: translateY(50px);
   }
   95% {
      opacity: 1;
      transform: translateY(50px);
   }
   100% {
      opacity: 0;
      transform: translateY(-50px);
   }
}

.message {
   animation: messageFadeIn 3.5s ease-in-out forwards;
   &.error {
      @apply bg-red-500;
   }
   &.success {
      @apply bg-green-600;
   }
   &.warning {
      @apply bg-yellow-400;
   }
   &.info {
      @apply bg-blue-500;
   }
   &.debug {
      @apply bg-gray-700;
   }
}

.border-section {
   @apply border-b border-gray-400 pb-7 mt-7;
}

@tailwind utilities;
